<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/style/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="main.css"> do we need this? idk-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

    <title>Typo ¿</title>

</head>

<body style="background-image: url('/static/img/typobackground.PNG'); background-repeat: no-repeat; background-attachment: fixed;  background-size: 100% 100%; ">


<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/static/img/typo%20logo.png" alt="Typo Logo" height="100"></a>
            <button class="bg-warning navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="navitm" href="{{ url_for('show_index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="navitm" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="navitm" href="{{ url_for('leaderBoard') }}">Leaderboard</a>
                    </li>
                    <!-- This is just for testing the add challenge text functionality since login doesn't work yet -->
                    <li class="nav-item">
                        <a class="navitm " href="{{ url_for('add_text') }}">Admin(add text)</a>
                    </li>
                </ul>


                <ul class="nav navbar-nav ">
                    <li class="nav-item">
                        <a class="navitm" href="#SignUpModal" data-bs-toggle="modal"
                           data-bs-target="#SignUpModal"><span class="fas fa-user"></span> Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="navitm " href="#loginModal" data-bs-toggle="modal"
                           data-bs-target="#loginModal"><span class="fas fa-sign-in-alt"></span>
                            Sign In</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class=" col-10">

                    <div class=" row timer float-end d-inline">
                        <div class="heading_text d-inline">Time Elapsed:</div>
                        <div class="time timeElapsed d-inline" id="timeElapsed">0</div>
                        <div class="time d-inline">s</div>
                    </div>
                    <br>

                    <div class="text-display text-center pb-4 pt-4" id="textDisplay">{{ texts.text }}</div>

                    <div class="row">
                       <textarea onpaste="return false"
                                 class=" text-input form-control rounded w-100 pt-3 pb-5 bg-muted border-secondary"
                                 rows="4"
                                 id="textInput" autofocus placeholder="Begin typing when ready"></textarea>
                    </div>
                    <div class="'row float-end">
                        <form action="{{ url_for('show_index') }}" method="get">
                            <div class="row pe-3 pt-2">
                                <button class="btn btn-primary" type="submit">Restart</button>
                            </div>
                        </form>
                    </div>

                </div>


            </div>

            <br>


            <div class="row  justify-content-center">
                <div class="col-7">
                    <div class="row justify-content-center">
                        <div class="col text-center  ">
                            <div class="heading_text row justify-content-center">
                                WPM
                            </div>
                            <div id="WPM" class="pink row justify-content-center">
                                -
                            </div>
                        </div>
                        <div class="col text-center ">
                            <div class="heading no-gutters row justify-content-center" style="color: #434343">
                                a
                            </div>
                            <div class="mult row no-gutters justify-content-center">
                                X
                            </div>
                        </div>
                        <div class="col-4 text-center ">
                            <div class="heading_text row justify-content-center">
                                Accuracy
                            </div>
                            <div class="d-inline row justify-content-center">
                                <div id="accuracy" class="pink d-inline text-center ">
                                    -
                                </div>
                                <div class="d-inline px-0 mx-0" style="font-size:30px;color: #FA008F;font-family: 'Open Sans';">%
                                </div>
                            </div>
                        </div>
                        <div class="col text-center ">
                            <div class="heading no-gutters row justify-content-center" style="color: #434343">
                                a
                            </div>
                            <div class="mult row no-gutters justify-content-center">
                                =
                            </div>
                        </div>
                        <div class="col text-center px-0 mx-1 ">
                            <div class="heading_text row justify-content-center">
                                Accurate WPM
                            </div>
                            <div id="AWPM" class="pink row justify-content-center">
                                -
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="staticBackdropLabel">Welcome back to Typo ¿ !</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('login') }}" method="post">
                            <div class="mb-3">
                                <label for="loginUsername" class="form-label">User name</label>
                                <input name ="login_username" type="username" class="form-control" id="loginUsername"
                                       aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="loginPassword" class="form-label">Password</label>
                                <input name="login_password" type="password" class="form-control" id="loginPassword">
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary float-end">Sign In</button>
                            </div>
                        </form>
                        <br>
                        <div class="float-start">
                            Don't have an account?<a data-bs-dismiss="modal" href="#SignUpModal"
                                                     data-bs-toggle="modal"
                                                     data-bs-target="#SignUpModal">Sign Up</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="SignUpModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="staticBackdropLabel">Sign up for Typo ¿ !</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('register')}}" method="post">
                            <div class="mb-3">
                                <label for="registerUsername" class="form-label">User name</label>
                                <input name="register_username" type="username" class="form-control" id="registerUsername"
                                       aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="registerPassword" class="form-label">Password</label>
                                <input name="register_password" type="password" class="form-control" id="registerPassword">
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary float-end">Sign Up</button>
                            </div>
                            <br>

                        </form>
                        <br>
                        <div class="float-start">
                            Already have an account?<a data-bs-dismiss="modal" href="#loginModal"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#loginModal">Sign In</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='typo.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>

</body>
</html>