<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="main.css"> do we need this? idk-->

    <title>Typo ¿</title>
</head>

<body class = "bg-dark text-light">


<div class = "container w-100" id = "testText" >
    <div class = row>
        <div class = "col"></div>
        <div class = "col">
            <div class="text-display text-center pb-4 pt-4" id="textDisplay">{{ texts.text }}</div>
        </div>
        <div class = "col"></div>
    </div>
    <div class = "row align-items-center">
        <div class = "col">
            <p>TYPO</p>
        </div>
        <div class = "col-8">
            <textarea class="bg-dark text-light text-input rounded w-100 pt-3 pb-5" style = "border: none; outline: none; caret-color: darkmagenta;" placeholder = "To begin, start typing..."id="textInput" autofocus></textarea>
        </div>
        <div class = "col">
            <p>TEST</p>
        </div>
    </div>
    <div class = "row mt-5">
        <div class="col"></div>
        <div class = "col align-self-center">
            <button onclick="timePassed()" class = "btn btn-light">Submit</button>
        </div>
        <div class="col"></div>
    </div>

</div>




<script type="text/javascript">
    const textDisplayElement = document.getElementById('textDisplay')
    const testInputElement = document.getElementById('textInput')
    const timeElapsedElement = document.getElementById('timeElapsed')

    testInputElement.addEventListener('input',timePassed)



    let startTime
    function timePassed() {
        timeElapsedElement.innerText = 0
        startTime = new Date()
        setInterval(() => {
            timeElapsedElement.innerText = getTimerTime()
        }, 1000)
        getEndTime()
        testInputElement.removeEventListener('input',timePassed)
    }

    function getTimerTime() {
        return Math.floor((new Date() - startTime) / 1000)
    }
    let endTime
    function getEndTime(){
        endTime = Math.floor((new Date() - startTime) / 1000)
       console.log(getTimerTime())
    }


</script>



    <script src="typo.js"></script>

</body>
</html>
