{% extends "layout.html" %}
{% block body %}
    <div class="d-flex justify-content-center">
        <h1 class="display-3 font-weight-bold" style="color: #FFDDEA">User Profile</h1>
    </div>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-center mb-5">{{ session.username }}</h2>
                            <h4 class="text-uppercase text-center mb-5">Highest WPM : {{ session.highscore }}</h4>
                            <table class="table table-striped table-dark table-bordered table-hover table-md">
                                <caption  style="caption-side: top;"><h4 class="text-uppercase text-center" style="color: #FA008F;">Past Challenge Attempts</h4></caption>
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">WPM</th>
                                    <th scope="col">Accuracy</th>
                                    <th scope="col">Accurate WPM</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for attempt in attempts %}
                                    <tr>
                                        <th scope="row"><p class="h3">{{ attempt.wpm }}</p></th>
                                        <td><p class="h2">{{ attempt.accuracy }}</p></td>
                                        <td><p class="h2 float-end"> {{ attempt.acc_wpm }}</p></td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}